.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: #000000;
  }
  
  .navbar-buttons {
    display: flex;
    gap: 15px;
  }
  
  .navbar-buttons button {
    background: transparent;
    border: none;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .navbar-buttons button:hover {
    color: #007BFF; 
  }
  